/* Global font settings */
:root {
  --orange: 249, 115, 22;
  --grey: #9ca3af;
}
body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Carousel button positioning */
/* Positioning */
.slick-prev,
.slick-next {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

/* Adjust side placement */
.slick-prev {
  left: 10px !important;
}
.slick-next {
  right: 10px !important;
}
/* Custom styling */
.slick-prev::before,
.slick-next::before {
  color: #212529 !important; /* Dark arrow color */
  font-size: 30px;
  opacity: 1 !important; /* Make it fully visible */
}

/* Optional: On hover highlight */
.slick-prev:hover::before,
.slick-next:hover::before {
  color: #000 !important;
}

.fade-section{
  opacity: 0;
  transform: translateY(10px); /* Slight lift */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Makes cards, buttons which are initially hidden to be unclickable */
  pointer-events: none;
}

.fade-in{
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}