/* Global font settings */
:root {
  --orange: 249, 115, 22;
  --grey: #9ca3af;
}
body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Carousel button positioning */
/* Positioning */
.slick-prev,
.slick-next {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

/* Adjust side placement */
.slick-prev {
  left: 10px !important;
}
.slick-next {
  right: 10px !important;
}
/* Custom styling */
.slick-prev::before,
.slick-next::before {
  color: #212529 !important; /* Dark arrow color */
  font-size: 30px;
  opacity: 1 !important; /* Make it fully visible */
}

/* Optional: On hover highlight */
.slick-prev:hover::before,
.slick-next:hover::before {
  color: #000 !important;
}

.fade-section {
  opacity: 0;
  transform: translateY(10px); /* Slight lift */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Makes cards, buttons which are initially hidden to be unclickable */
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
.link-effect {
  color: #000;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.link-effect:hover {
  color: rgb(var(--orange));
  text-decoration: underline;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(
    --bs-border-radius
  ); /* keep this if you want rounded pills */
  --bs-nav-pills-link-active-color: #000; /* text color for active pill */
  --bs-nav-pills-link-active-bg: #fff;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-color: #6c757d;
  --bs-nav-link-hover-color: rgb(var(--orange));
}
.image-height-suggpairing{
  height: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
}
.card-pairings{
  height: 12rem;
}
.booking-fade{
  opacity: 0;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .nav-tab {
    display: block;
    width: 100%;
  }
  .nav-tablist {
    display: flex;
    justify-content: space-between;
  }
  .nav-tablist li:nth-child(2) {
    flex: 1;
  }
  .nav-tablist li:nth-child(3) {
    flex: 1;
  }
  .nav-tablist li:nth-child(1) {
    flex: 1;
  }
  .nav-tablist li button {
    width: 100%;
  }
  .nav {
    --bs-nav-link-padding-x: 0.5rem;
    --bs-nav-link-padding-y: 0.5rem;
  }
  .reviewtab{
    width: 100% !important;
    padding: 1rem;
  }
  .card-pairings{
    height: 10rem;
  }
}
