.cardImgWrapper{
    height: 16rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.cardImgZoom{
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cardImgZoom:hover{
    transform: scale(1.1);
}
.orderHover{
    background-color: transparent !important;
    transition: all 0.3s ease-in-out;
    color: black;
}
.orderHover:hover{
    background-color: rgb(var(--orange)) !important;
    color: #f2f2f2 !important;
}
.cardHover{
    transition: box-shadow 0.3s ease-in-out;
}

.cardHover:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.spanHover:hover{
    text-decoration: underline;
}